*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
linear-gradient(
135deg,
#0f172a,
#1e293b
);

}

.auth-card{

width:400px;

padding:40px;

border-radius:25px;

background:
rgba(255,255,255,.08);

backdrop-filter:blur(20px);

text-align:center;

color:white;

}

.auth-card h1{

margin-bottom:10px;

}

.auth-card p{

margin-bottom:25px;

color:#cbd5e1;

}

.auth-card input{

width:100%;

height:55px;

margin-bottom:15px;

padding:0 15px;

border:none;

border-radius:12px;

outline:none;

}

.auth-card button{

width:100%;

height:55px;

border:none;

border-radius:12px;

background:#10a37f;

color:white;

font-size:16px;

cursor:pointer;

}

.auth-card a{

display:block;

margin-top:15px;

color:white;

text-decoration:none;

}
.google-btn{

width:100%;

height:55px;

margin-top:15px;

border:none;

border-radius:12px;

background:white;

color:#111827;

font-size:16px;

font-weight:600;

cursor:pointer;

display:flex;

align-items:center;

justify-content:center;

gap:12px;

}

.google-btn img{

width:22px;

height:22px;

}