body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#4f46e5,#06b6d4);
  font-family:Poppins,sans-serif;
}

.login-container{
  background:white;
  padding:40px 35px;
  border-radius:18px;
  width:320px;
  text-align:center;
  box-shadow:0 15px 40px rgba(0,0,0,.25);
}

.login-container h2{
  margin-bottom:25px;
}

.login-container input{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:8px;
  border:1px solid #c7d2fe;
  outline:none;
}

.login-container button{
  width:100%;
  padding:12px;
  border:none;
  background:#4f46e5;
  color:white;
  border-radius:8px;
  cursor:pointer;
  transition:.3s;
}

.login-container button:hover{
  background:#4338ca;
}

#msg{
  margin-top:12px;
  font-size:.9rem;
}

.small{
  margin-top:15px;
  font-size:.85rem;
}
